@page "{id:int?}"
@model RazorPagesMovie.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h3 class="card-title mt-3 text-center">Detalhes</h3>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Pacote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Pacote)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.ID">Edit</a> |
    <a asp-page="./Index">Voltar</a>
</div>
