@page "{searchString?}"
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3 class="card-title mt-3 text-center"> Pacotes</h3>

<div class="container">
    <ul class="list-group">

        @foreach (var item in Model.Movie)
        {
            <li class="list-group-item">
                <a class="text-dark" data-toggle="collapse" href="#pp_@item.ID">@Html.DisplayFor(modelItem => item.Categoria)</a>
                <ul class="list-group collapse" id="pp_@item.ID">
                    <li class="list-group-item text-center">
                        <a class="text-dark" href="./Cartao" style="margin-right:725px">@Html.DisplayFor(modelItem => item.Pacote)</a>
                        <a class="text-dark" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="text-dark" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a class="text-dark" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</div>
<br><br>
<div class="d-flex justify-content-center">
    <a class="btn text-light" asp-page="Create" role="button" style="background-color:#2fc9ee"><img src='https://i.imgur.com/ecvytIt.png' align='middle' class='mais'>Adicionar Pacote</a>
</div>