@page "{searchString?}"
@model RazorPagesMovie.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3 class="card-title mt-3 text-center"> Pacotes</h3>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<form>
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<div class="container">
    <ul class="list-group">
         
        @foreach (var item in Model.Movie)
        {
            <li class="list-group-item">
                <a data-toggle="collapse" href="#pacote">@Html.DisplayFor(modelItem => item.Categoria)</a>
                <ul class="list-group collapse" id="pacote">
                    <li class="list-group-item">
                        <a href="Index">@Html.DisplayFor(modelItem => item.Pacote)</a>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Pacote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacote)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
